/*form validation*/
.error {
    color: red;
    font-size: 14px;
    font-weight: 400 !important;
    float: right;
}

.form-control.error {
    border: 1px solid red;
}

/*form validation end*/
::-webkit-input-placeholder {
    font-size: 16px !important;
}

:-ms-input-placeholder {
    font-size: 16px !important;
}

::placeholder {
    font-size: 16px !important;
}

/**Media queries**/
@media screen and (max-width: 480px) {
    .preview_image{
        max-height: 300px;
        max-width: 250px;
    }
}

@media screen and (min-width: 480px) {
    .preview_image{
        max-height: 300px;
        max-width: 450px;
    }
}
