# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\shondhikkhon\shondhikkhon_v2\admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
